.tab {
	list-style-type: none;
	padding: 0;	
	margin:0;
	position: relative;
}
.tabs li {
	float: left;
}
.tabs li > input {
	display: none;
}
.tabs li > label {
	display: inline-block;
	cursor: pointer;
}
.tabs .tab-content {
	display: none;
	width: 950px;
	position: absolute;
	left: 150px;
}
/*functional*/
.tabs li > input:checked + label {
	background-color: #dedede; 
}
.tabs li > input:checked ~ .tab-content {
	display: block;
}